meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="武星級職場|台灣武田藥品工業股份有限公司")
meta(name="Author" content="xuedesign studio")
meta(name="copyright" content="2023 Takeda Taiwan")
meta(name="robots" content="noindex,nofollow")
= '\n'
link(rel="shortcut icon" href="../../images/favicon.ico")
link(rel="icon" href="../../images/favicon.ico")
link(rel="preconnect" href="https://fonts.googleapis.com/")
link(rel="preload" href="../../images/logo_type.svg" as="image")
script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TVPWDJTD');